{
  "presets": [
    "flow",
    "es2015"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "./src/"
    }]
  ],
  "ignore": [
    "./node_modules/**/*"
  ]
}
